<div class="container ">
	
	<br>
	<div class="col-sm-8 offset-sm-2 jumbotron">
		<h2 class="display-5">All Category</h2>
		<hr>
		<table class="table table-bordered" *ngIf="AllCategories">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Category Name</th>
					<th scope="col">Action</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let category of AllCategories; let i=index;">
					<th scope="row">{{i+1}}</th>
					<td>{{category.productCategory}}</td>
					<td><button class="btn btn-danger">Delete</button></td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="col-sm-8  offset-sm-2 jumbotron">
		<h2 class="display-5">Add New Category.</h2>
		<hr>
		<form #newCategory="ngForm" (ngSubmit)=addCategory(newCategory)>

			<div class="form-group">
				<label for="category">Category: </label>
				<input type="text" class="form-control" id="category" aria-describedby="categoryHelp" placeholder="Enter Category" [ngModel]="category"
				 min="0" name="category">
				<small id="categoryHelp" class="form-text text-muted">Category for product.</small>
			</div>

			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
</div>