<div class="container">
	
	<br>
	<div class="col-sm-8 col-sm-offset-2 jumbotron">
		<h2 class="display-5">All Category</h2>
		<hr>
		<table class="table table-bordered" *ngIf="AllCategories">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Category Name</th>
					<th scope="col">Action</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let category of AllCategories; let i=index;">
					<th scope="row">{{i+1}}</th>
					<td>{{category.productCategory}}</td>
					<td><button class="btn btn-danger">Delete</button></td>
				</tr>
			</tbody>
		</table>
		<app-spinner [isRunning]="isRequesting"></app-spinner> 
	</div>

	<div class="col-sm-8  col-sm-offset-2 jumbotron">
		<h2 class="display-5">Add New Category.</h2>
		<hr>
		<form [formGroup]="categoryForm" (ngSubmit)="onSubmit()" novalidate>

			<div class="form-group" [ngClass]="{'has-error': category.invalid && (category.dirty || category.touched) , 'has-success': category.valid && category.dirty }">
				<label for="category">Category: </label>
				
				<input type="text" class="form-control" id="category" aria-describedby="categoryHelp" placeholder="Enter Category" formControlName="category">
				<span class="help-block" *ngIf="category.errors && (category.dirty || category.touched)">
					<strong *ngIf="category.errors.required" > Category Is required</strong>
					<strong *ngIf="category.errors.maxlength">  max length is 45  </strong> 
				</span>
				<small id="categoryHelp" class="form-text text-muted">Category for product.</small>
				
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary" [disabled]='!categoryForm.valid'>Submit</button>
				<app-spinner [isRunning]="isRequesting"></app-spinner> 
			</div>
			
		</form>
	</div>
</div>